$blue: #5bbdf5 !default;

$btn-font-size-lg: 3rem;
$btn-line-height: 1rem !default;

$btn-font-weight: bold;

.opacity-75 {
    opacity: 0.75;
  }

@include media-breakpoint-down(xs) {

    html {
        font-size: 0.75rem;
    }

    body { 
        background-size: 20px 20px;
        background-image: linear-gradient(to right, #2bc1d266 1px, transparent 1px),
            linear-gradient(to bottom, #2bc1d266 1px, transparent 1px);
        background-color: #ffffff;
    }

  }

  @include media-breakpoint-up(sm) {

    body { 
        background-size: 40px 40px;
        background-image: linear-gradient(to right, #2bc1d266 1px, transparent 1px),
            linear-gradient(to bottom, #2bc1d266 1px, transparent 1px);
        background-color: #ffffff;
    }
  }
