$blue: #5bbdf5 !default;

$btn-font-size-lg: 3rem;
$btn-line-height: 1rem !default;

$btn-font-weight: bold;



.opacity-75 {
    opacity: 0.75;
  }

@include media-breakpoint-down(xs) {

    html {
        font-size: 0.75rem;
    }

    body {
        $encodedJPG: encodeBase64('bg2.png');
        background-image: url('data:image/png;base64,#{$encodedJPG}');
        background-repeat: no-repeat;
      }
  }


